.cols#card-content(style="height: 100%;")
  //- .left.card-content.col.three-fifth
  //-   h2#name
  //-     span {{name}}
  //-     span aka
  //-     span {{alias}}
  //-   div#skills
  //-     h3(data-additional="can do this for friends") Good At:
  //-     ul
  //-       li
  //- .right.card-cover.col.two-fifth

//- name
//- alias
//- expert
//- skills
//- social[weibo github twitter facebook path instagram...]
//- last update