mixin matItem(name)
    li.mate-item.morphing-entry(data-id=name, data-mm="card")
      span.mate-name=name



ul.mate-list.fix-flt
  each name in ['chenllos', 'rtwo91', 'bro Spring']
    +matItem(name)

ul.mate-list.fix-flt
  each name in ['bro Hao', 'bro Bird', 'flowers Bed']
    +matItem(name)