doctype html
html
  head
    meta(charset="utf-8")
    title fifmate, 515 forever friend
    link(href="layout/css/layout.css", type="text/css", rel="stylesheet")
  
  body
    h2 drafting...
    p come on, buddy.
  
  //- script(src="http://127.0.0.1:5150/livereload.js?ext=Chrome&extver=2.0.9")