#card-content{
  height: 100%;
}

.card-com, .card-cover{
  height: 100%;
}
.card-cover{
  background-size: cover;
  background-position: 50% 50%;
}

.modal-bg{
  background-size: cover;
  background-position: 50% 50%;
  // -webkit-filter: blur(5px);
}

#cover-img-placeholder{
	// display: none;
	position: absolute;
	top: -5000px;
	left: -5000px;
	z-index: -10;
}
#cache{
	// height: 0;
	// overflow: hidden;
	display: none;
}